<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org" xmlns:left="http://www.w3.org/1999/xhtml">
<head th:replace=" base ::headCuston">
	<meta charset="UTF-8">
	<title>Transaction Compare</title>
</head>
<body>
<br>
<div th:replace="base  :: navlinks"></div>
	<div th:if="${message}">
		<br>
		<h3 th:text="${message}"/>
	</div>
	<div class="mainform">
		<form method="POST" enctype="multipart/form-data"  action="/upload">
			<table border="1px">
				<thead>
				<tr><td><h1>Specify Files to compare:</h1></td></tr>
				</thead>
				<tr><td>
					<table>
						<tr><td>Select Two CSV files:</td>	<td><input type="file" name="files" accept=".csv" multiple class="input-group-text"></td>
							<td><input type="submit" value="Compare" class="btn btn-outline-primary"/></td></tr>
					</table>
				</td>
				</tr>
			</table>
		</form>
	</div>
<br>

<div th:if="${FilesUploaded}">
	<h1>Comparison Result</h1>
	<div class="cardspace">
	<div class="card" style="width: 15rem;" th:each="FileUploaded : ${FilesUploaded}">
		<img class="card-img-top" src="https://image.shutterstock.com/image-vector/csv-file-document-icon-260nw-1356997997.jpg" alt=".csv">
		<div class="card-body">
			<h5 class="card-title"><td th:text="${FileUploaded.name}"></td></h5><br>
				<tr><td>Total Record: </td><td th:text="${FileUploaded.totalRecord}"></td></tr>
				<tr><td>Matching Record: </td><td th:text="${FileUploaded.matchingRecord}"></td></tr>
				<tr><td>UnMatching Record: </td><td th:text="${FileUploaded.unMatchingRecord}"></td></tr>
		</div>
	</div>
	</div>
</div>


<div class="UnmatchedReport" th:if="${FilesUploaded}" >
	<button type="button" class="btn btn-light" id="unmatchedButton"   >Unmatched Report</button>
	<br>
	<div id="unmatched" >
		<h1>Unmatched report</h1>
		<!-- Table example -->
		<table class="table table-striped table-wrapper-scroll-y my-custom-scrollbar" th:each="FileUploadedNow : ${FilesUploaded}">
		<br>
		<thead>
		<tr>
			<th th:text="${FileUploadedNow.name}">#</th>
		</tr>
		</thead>
		<tbody>
		<thead>
		<tr>
			<th scope="Transaction Date">Date</th>
			<th scope="Transaction Amount">Amount</th>
			<th scope="Transaction Narrative">Narrative</th>
			<th scope="Transaction Description">Description</th>
			<th scope="Transaction ID">ID</th>
			<th scope="Transaction Type">Type</th>
			<th scope="Transaction Wallet Reference">Wallet Referenc</th>
		</tr>
		</thead>
		<tbody>
		<tr th:each="lineUnmatched: ${FileUploadedNow.lineUnmatched}">
			<th th:text="${lineUnmatched.transactionDate}"></th>
			<th th:text="${lineUnmatched.transactionAmount}"></th>
			<th th:text="${lineUnmatched.transactionNarrative}"></th>
			<th th:text="${lineUnmatched.transactionDescription}"></th>
			<th th:text="${lineUnmatched.transactionID}"></th>
			<th th:text="${lineUnmatched.transactionType}"></th>
			<th th:text="${lineUnmatched.walletReference}"></th>
		</tr>
		</tbody>
		</tbody>
	</table>
	</div>
</div>
<div clas="buttonRestart">
	<button type="button" class="btn btn-light" id="buttonRestart" >Restart</button>
<div>
<br>
	<div th:replace=" base :: footer"></div>
</body>
<footer>
	<script type="text/javascript" th:src="@{/js/script_unmatched.js}"></script>
</footer>
</html>
